//
//  Development.xcconfig
//  SwiftDemo
//
//  Created by Fay on 2017/4/12.
//  Copyright © 2017年 Fay. All rights reserved.
//


//:configuration = Development
GCC_PREPROCESSOR_DEFINITIONS = DEVELOPMENT=1

//:completeSettings = none

//:configuration = Debug Development
OTHER_SWIFT_FLAGS = -DDEVELOPMENT

//:completeSettings = none

HOST_URL = https:\/\/development.host.com
